* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal;
}

body {
  font-size: 16px;
  color: #f8f3f3;
  background-color: #1a1813;
}

.container {
  width: 70%;
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4% 1%;
}

h1 {
  font-size: 2.5em;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.task-record {
  margin-top: 4%;
  width: 55%;
}

.task-record input {
  min-width: 100px;
  width: 30vw;
  min-height: 35px;
  height: 7vh;
  padding-left: 1%;
  font-size: 1.3em;
}

.task-record input:active, .task-record input:focus {
  outline: 2px solid #215e76;
}

.task-list {
  width: 80%;
  margin-top: 4%;
}

.task-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2% 1%;
}

.task-list__item:nth-child(odd) {
  background-color: #f8f3f3;
  color: #1a1813;
}

.task-list__item label {
  width: 80%;
  font-size: 1.2em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1%;
}

.task-list__item label:hover {
  cursor: pointer;
  color: #215e76;
}

.btn {
  width: 18%;
  font-size: 0.9em;
  color: #faf4f4;
  font-weight: 600;
  text-transform: uppercase;
  padding: 2% 3%;
  border: 1px solid #dcfacf;
  border-radius: 7px;
}

.btn:focus, .btn:active, .btn:hover {
  cursor: pointer;
  border-radius: 20px;
  outline: none;
  -webkit-filter: drop-shadow(0 0 2px #5f5d5d);
          filter: drop-shadow(0 0 2px #5f5d5d);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn:hover {
  border: 1px solid #dcfacf;
}

.btn-add {
  margin-left: 1%;
  background-color: #20B364;
  -webkit-box-shadow: 0 0 3px #5f5d5d;
          box-shadow: 0 0 3px #5f5d5d;
}

.btn-delete {
  background-color: #E04250;
}

.checkbox {
  background-image: url(../img/empty-checkbox.png);
  background-size: cover;
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 5px;
  vertical-align: top;
  outline: none;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.checkbox:checked {
  background-image: url(../img/check2.webp);
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.checkbox:checked + span {
  text-decoration: line-through;
}

.checkbox:active {
  outline: none;
}

.checkbox:focus {
  outline: 2px solid #215e76;
  outline-offset: -1px;
}

.checkbox:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.checked,
.checked:nth-child(odd),
.checked:not(:last-child) {
  background-color: #807f7f52;
  color: #00000059;
  border-top: 1px solid #807f7f52;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}

.checked:hover,
.checked:nth-child(odd):hover,
.checked:not(:last-child):hover {
  -webkit-box-shadow: 0 0 3px #807f7f52;
          box-shadow: 0 0 3px #807f7f52;
  -webkit-filter: none;
          filter: none;
}

.checked:hover label > span,
.checked:nth-child(odd):hover label > span,
.checked:not(:last-child):hover label > span {
  color: #1a1813;
}

.checked .btn,
.checked:nth-child(odd) .btn,
.checked:not(:last-child) .btn {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.checked .btn:hover, .checked .btn:focus, .checked .btn:active,
.checked:nth-child(odd) .btn:hover,
.checked:nth-child(odd) .btn:focus,
.checked:nth-child(odd) .btn:active,
.checked:not(:last-child) .btn:hover,
.checked:not(:last-child) .btn:focus,
.checked:not(:last-child) .btn:active {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}
/*# sourceMappingURL=style.css.map */