.btn
  width: 18%
  font-size: 0.9em
  color: $btn-text
  font-weight: 600
  text-transform: uppercase
  padding: 2% 3%  
  border: 1px solid #dcfacf
  border-radius: 7px
  &:focus,&:active, &:hover
    cursor: pointer
    border-radius: 20px
    outline: none
    filter: drop-shadow(0 0 2px #5f5d5d) 
    transition: all 0.2s ease-in
  &:hover
    border: 1px solid #dcfacf
  &-add
    margin-left: 1%
    background-color: $btn-add
    box-shadow: 0 0 3px #5f5d5d
  &-delete
    background-color: $btn-delete
