// import theme from 'theme.sass'
$dark-background: #1a1813
$light-background: #f8f3f3
$light-text-color: #f7f4f4
$dark-text-color: #1a1813
$btn-text: #faf4f4
$btn-add: #20B364
$btn-delete: #E04250
$active-input: #215e76


*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-weight: normal

body
  font-size: 16px
  color: $light-text-color
  background-color: $dark-background

.container
  width: 70%
  height: 100vh
  margin: 0 auto
  display: flex
  flex-direction: column
  align-items: center

  padding: 4% 1%
  
h1
  font-size: 2.5em
  font-weight: 500
  text-transform: uppercase
  text-align: center

.task
  &-record
    margin-top: 4%
    width: 55%
    & input
      min-width: 100px
      width: 30vw
      min-height: 35px
      height: 7vh
      padding-left: 1%
      // border: 2px solid $active-input    
      font-size: 1.3em
      &:active, &:focus
        outline: 2px solid $active-input
  &-list
    width: 80%
    margin-top: 4% 
    list-style: none
    &__item
      display: flex
      justify-content: space-between
      padding: 2% 1%
      &:nth-child(odd)      
        background-color: $light-background
        color: $dark-text-color
        &:hover
          box-shadow: 0 0 3px #fff
      &:nth-child(even):hover
        box-shadow: 0 0 5px $dark-background
      & label
        width: 80%
        font-size: 1.2em
        align-self: center
        padding: 1%
        &:hover
          cursor: pointer
          color: $active-input
        


.btn
  width: 18%
  font-size: 0.9em
  color: $btn-text
  font-weight: 600
  text-transform: uppercase
  padding: 2% 3%  
  border: 1px solid #dcfacf
  border-radius: 7px
  &:focus,&:active, &:hover
    cursor: pointer
    border-radius: 20px
    outline: none
    filter: drop-shadow(0 0 2px #5f5d5d) 
    transition: all 0.2s ease-in
  &:hover
    border: 1px solid #dcfacf
  &-add
    margin-left: 1%
    background-color: $btn-add
    box-shadow: 0 0 3px #5f5d5d

  &-delete
    background-color: $btn-delete

input[type=checkbox] 
  background-image: url(../img/empty-checkbox.png)
  background-size: cover

input[type=checkbox] 
	appearance: none 
	cursor: pointer 
	display: inline-block 
	width: 22px 
	height: 22px 
	margin-right: 5px
	vertical-align: top 
	outline: none 
	transition: background 0.3s ease 

input[type=checkbox]:checked  
  background-image: url(../img/check2.webp) 
  box-shadow: none
  outline: none
input[type=checkbox]:active  
  outline: none   
input[type=checkbox]:focus  
  // outline: 2px solid $active-input
  outline-offset: -1px
// input[type=checkbox]:hover  
    filter: brightness(110%)  
     
 